
:root{
    --deepgreen-em: #014B43;
    --lightpink-em: #F9ECE5;
    --rust-red-em: #9C2113;
    --deep-pink-em: #FFD6D1;
    --lightgreen-em:#099078;
}

* {
  font-family: "Avant Garde", "Nanum Gothic", "AppleGothic", sans-serif;
}

html{ 
    scroll-behavior: smooth;
    scroll-padding-top: 50px; 
}

.material-symbols-outlined.fs-larger {
    font-size: 2rem;
}


.jumbotron{
    background-color: var(--deepgreen-em);
    color: var(--lightpink-em);
}

a {
    text-decoration: none;
}

ul a{
    color: var(--deep-pink-em);
}

ul a:hover{
    color: #b5410e;
}

.nav-link{
    color: var(--deep-pink-em);
}

.nav-link:hover{
    color: #b5410e;
}


.bg-dgreen-emi{
    background-color: var(--deepgreen-em);
}

.bg-lpink-emi{
    background-color: var(--lightpink-em);
}

.cl-lpink-emi{
    color: var(--lightpink-em);
}

.bg-section-em{
    background-color: var(--lightpink-em);
    color: var(--deepgreen-em);
}

.bg-attention{
    background-color: var(--rust-red-em);
    color: var(--lightpink-em);
}

section{
    letter-spacing:.25vmin;
}

.sources{
    color: var(--rust-red-em);
}

.sources:hover{
    color: var(--lightgreen-em);
}


.flex-main{
    display: flex;
    /* gap: 20px; */
    padding: 5px;
    /* border: 1px solid black; */
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

img {
    height: 200px;
}

.top-s-0{
    top: 60px;
}

footer{
    background-color: var(--deepgreen-em);
    color: var(--lightpink-em);
}

@media screen and (max-width: 768px) {
    
    html{ 
        scroll-padding-top: 250px; 
    }
    header {
        margin-top: 1rem;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    
    header {
        margin-top: 0px;
        padding: 0px;
    }
}