@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Strichpunkt+Sans:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --deepgreen-em: #014B43;
    --lightpink-em: #F9ECE5;
    --rust-red-em: #9C2113;
    --deep-pink-em: #FFD6D1;
    --lightgreen-em:#099078;
}

* {
    font-family: "Quando", sans-serif;
  /* font-family: "Nanum Gothic", "AppleGothic", sans-serif; */
}

html{ 
    scroll-behavior: smooth;
}

.material-symbols-outlined.fs-larger {
    font-size: 2rem;
}


.jumbotron{
    background-color: var(--deepgreen-em);
    color: var(--lightpink-em);
}

.navbar{
    background-color: var(--deepgreen-em);
    
}

ul a{
    color: var(--deep-pink-em);
}

ul a:hover{
    color: #b5410e;
}



.bg-dgreen-emi{
    background-color: var(--deepgreen-em);
}

.bg-lpink-emi{
    background-color: var(--lightpink-em);
}

.cl-lpink-emi{
    color: var(--lightpink-em);
}

.bg-section-em{
    background-color: var(--lightpink-em);
    color: var(--deepgreen-em);
}

.bg-attention{
    background-color: var(--rust-red-em);
    color: var(--lightpink-em);
}

section{
    letter-spacing:.25vmin;
}

.sources{
    color: var(--rust-red-em);
}

.sources:hover{
    color: var(--lightgreen-em);
}


footer{
    background-color: var(--deepgreen-em);
    color: var(--lightpink-em);
}

